@import '../../variables';

.x {
  display: block;
  padding: $baseline * 3;
  text-align: center;

  &:hover {
    background: primary(10%);

    & .iconPath {
      fill: $icon;
    }
  }
}

.xActive {
  background: primary(20%);

  &:hover {
    background: primary(20%);
  }
}
