@import '../../variables';

.x {
  flex: 0 0 auto;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background: primary(5%);
}

.xFloating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 2px 0 10px icon(10%);
}
