{
  "extends": [
    "stylelint-config-recommended",
    "linaria/stylelint-config",
  ],
  "rules": {
    "block-no-empty": null,
    "no-empty-source": null,
    "no-invalid-double-slash-comments": null,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }]
  }
}
